$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #ffffff;
$text-color                 : #222827;
$background-color           : #ffffff;

$blue-bg                    : #124E78;
$yellow-bg                  : #F2BB05;
$red-bg                     : #D74E09;
$blood-bg                   : #6E0E0A;

$custom-google-font         : 'Barlow', sans-serif;
$item-border-radius         : 8px;

$item-media-size            : 86px;
$list-item-height           : 28px;
$button-height              : 44px;
$heading-strip-width        : 10px;
$heading-strip-height       : 3px;
$heading-circle-size        : 500px;
$heading-circle-visible     : 210px;